
@{
    ViewBag.Title = "Sale";
    Layout = "~/Views/Shares/_LayoutUser.cshtml";
}

<div id="wp-products">
    <h2>SẢN PHẨM BÁN CHẠY</h2>
    <ul id="list-products">
        <li class="item">
            <img src="~/Images/gau1.jpeg" style="width: 200px; height: 200px;" alt="">
            <div class="stars">
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
            </div>
            <div class="name">GẤU BÔNG TEDDY ÁO LEN</div>
            <div class="price">109.000 VNĐ</div>
            <div class="sale"><p><del>129.000 VNĐ</del></p></div>
            <div class="mua">
                <a href="cart.html"><button>Mua ngay</button></a>
            </div>
            <div class="them"></div>
        </li>

        <li class="item">
            <img src="~/Images/gau2.jpeg" style="width: 200px; height: 200px;" alt="">
            <div class="stars">
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
            </div>
            <div class="name">GẤU BÔNG MÈO HOÀNG THƯỢNG</div>
            <div class="price">95.000 VNĐ</div>
            <div class="sale"><p><del>135.000 VNĐ</del></p></div>
            <div class="mua">
                <a href="cart.html"><button>Mua ngay</button></a>
            </div>
            <div class="them"></div>
        </li>

        <li class="item">
            <img src="~/Images/khungtreoanh3.png" style="width: 200px; height: 200px;" alt="">
            <div class="stars">
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
            </div>
            <div class="name">KHUNG ẢNH KIỂU DÁNG TAI MÈO</div>
            <div class="price">179.000 VNĐ</div>
            <div class="sale"><p><del>203.000 VNĐ</del></p></div>
            <div class="mua">
                <a href="cart.html"><button>Mua ngay</button></a>
            </div>
            <div class="them"></div>
        </li>

        <li class="item">
            <img src="~/Images/combo2.jpeg" style="width: 200px; height: 200px;" alt="">
            <div class="stars">
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
            </div>
            <div class="name">COMBO QUÀ</div>
            <div class="price">140.000 VNĐ</div>
            <div class="sale"><p><del>199.000 VNĐ</del></p></div>
            <div class="mua">
                <a href="cart.html"><button>Mua ngay</button></a>
            </div>
            <div class="them"></div>
        </li>

        <li class="item">
            <img src="~/Images/hoadatset1.jpeg" style="width: 200px; height: 200px;" alt="">
            <div class="stars">
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
            </div>
            <div class="name">BÓ HOA ĐẤT SÉT ĐỦ MÀU</div>
            <div class="price">279.000 VNĐ</div>
            <div class="sale"><p><del>379.000 VNĐ</del></p></div>
            <div class="mua">
                <a href="cart.html"><button>Mua ngay</button></a>
            </div>
            <div class="them"></div>
        </li>

        <li class="item">
            <img src="~/Images/hoalen3.jpeg" style="width: 200px; height: 200px;" alt="">
            <div class="stars">
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
            </div>
            <div class="name">BÓ HOA LEN HANDMADE</div>
            <div class="price">220.000 VNĐ</div>
            <div class="sale"><p><del>280.000 VNĐ</del></p></div>
            <div class="mua">
                <a href="cart.html"><button>Mua ngay</button></a>
            </div>
            <div class="them"></div>
        </li>

        <li class="item">
            <img src="~/Images/scrapbook1.jpeg" style="width: 200px; height: 200px;" alt="">
            <div class="stars">
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
            </div>
            <div class="name">SCRAPBOOK</div>
            <div class="price">138.000 VNĐ</div>
            <div class="sale"><p><del>170.000 VNĐ</del></p></div>
            <div class="mua">
                <a href="cart.html"><button>Mua ngay</button></a>
            </div>
            <div class="them"></div>
        </li>

        <li class="item">
            <img src="~/Images/scrapbook2.jpeg" style="width: 200px; height: 200px;" alt="">
            <div class="stars">
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
                <span><img src="~/Images/icons8-star-30.png" alt="" style="width: 30px; height: 30px;"></span>
            </div>
            <div class="name">SCRAPBOOK</div>
            <div class="price">190.000 VNĐ</div>
            <div class="sale"><p><del>230.000 VNĐ</del></p></div>
            <div class="mua">
                <a href="cart.html"><button>Mua ngay</button></a>
            </div>
            <div class="them"></div>
        </li>
    </ul>
</div>